{% load static %}
{% load i18n %}
{% load compress %}
{% load gtm_tags %}
{% load fill_vars %}
<!doctype html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{LANGUAGE_CODE}}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="{% block metaT %}{% endblock metaT %}">
    <meta name="description" content="{% block metaD %}{% endblock metaD %}">
    {% comment %} Fonts {% endcomment %}
    <style>
        @font-face {
            font-family: 'Montserrat-Light';
            src: url({% static 'fonts/Montserrat-Light.eot' %});
            src: url({% static 'fonts/Montserrat-Light.eot?#iefix' %}) format('embedded-opentype'),
            url({% static 'fonts/Montserrat-Light.woff2' %}) format('woff2'),
            url({% static 'fonts/Montserrat-Light.woff' %}) format('woff'),
            url({% static 'fonts/Montserrat-Light.ttf' %}) format('truetype');
            font-weight: 300;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'Montserrat';
            src: url({% static 'fonts/Montserrat-Regular.eot' %});
            src: url({% static 'fonts/Montserrat-Regular.eot?#iefix' %}) format('embedded-opentype'),
            url({% static 'fonts/Montserrat-Regular.woff2' %}) format('woff2'),
            url({% static 'fonts/Montserrat-Regular.woff' %}) format('woff'),
            url({% static 'fonts/Montserrat-Regular.ttf' %}) format('truetype');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'Montserrat-Black';
            src: url({% static 'fonts/Montserrat-Black.eot' %});
            src: url({% static 'fonts/Montserrat-Black.eot?#iefix' %}) format('embedded-opentype'),
            url({% static 'fonts/Montserrat-Black.woff2' %}) format('woff2'),
            url({% static 'fonts/Montserrat-Black.woff' %}) format('woff'),
            url({% static 'fonts/Montserrat-Black.ttf' %}) format('truetype');
            font-weight: 900;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'Montserrat-Bold';
            src: url({% static 'fonts/Montserrat-Bold.eot' %});
            src: url({% static 'fonts/Montserrat-Bold.eot?#iefix' %}) format('embedded-opentype'),
            url({% static 'fonts/Montserrat-Bold.woff2' %}) format('woff2'),
            url({% static 'fonts/Montserrat-Bold.woff' %}) format('woff'),
            url({% static 'fonts/Montserrat-Bold.ttf' %}) format('truetype');
            font-weight: bold;
            font-style: normal;
            font-display: swap;
        }
    </style>
    {% comment %} END Fonts {% endcomment %}
    <!-- End Meta -->
    <!-- Favicon links -->
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="{% static 'logo/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'logo/favicon-57.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'logo/favicon-57.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'logo/favicon-72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'logo/favicon-114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'logo/favicon-120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'logo/favicon-144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'logo/favicon-152.png' %}">
    <link rel="alternate" hreflang="en" href="https://www.xerixy.com/en/" />
    <link rel="alternate" hreflang="fr" href="https://www.xerixy.com/fr/" />
    <meta name="application-name" content="">
    <meta name="msapplication-TileImage" content="{% static 'logo/favicon-144.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <!-- End Favicon links -->
    <!-- CSS -->
    {% gtm_head %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" charset="utf-8">

    {% block css %}
    {% endblock css %}
    {% endcompress %}
    <!-- End CSS -->
    {% block title %}
    {% endblock title %}
</head>

<body id="{% block idBody %}{% endblock idBody %}">
    {% gtm_body %}
    <nav id="navbar">
        <div class="logoContainer">
            <a href="/" class="logo">
                <img src="{% static 'logo/logo.png' %}" alt="{{user.nom_sur_site}}" title="{{user.nom_sur_site}}" />
            </a>
        </div>
        <button title="Collapse navbar" id="navCollapse">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512">
                <path fill="currentColor"
                    d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
                </path>
            </svg>
        </button>
        <div class="navLinks" id="navLinks" data-state="uncollapsed">
            <div class="scrollLogo">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'logo/logo.png' %}" alt="{{user.nom_sur_site}}" title="{{user.nom_sur_site}}" />
                </a>
            </div>
            <button id="closeNav">&times;</button>
            <ul class="navLinksUl">
                <li class="navLinksItem"><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
                {% if services %}
                <li class="navLinksItem"><a href="{% url 'services' %}">{% trans 'Our offers' %}</a></li>
                {% endif %}
                {% for page in pages %}
                <li class="navLinksItem"><a
                        href="{% url 'page' page.page_url %}">{% blocktrans with page.page_title|template_trans as page_title %}{{page_title}}{% endblocktrans %}</a>
                </li>
                {% endfor %}
                {% if news %}
                <li class="navLinksItem"><a href="{% url 'news' %}">{% trans 'Blog' %}</a></li>
                {% endif %}
                <li class="navLinksItem"><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
            </ul>
        </div>
        <div class="language">
            <div class="overView">
                {% if LANGUAGE_CODE == 'fr' %}
                <button title="{% trans 'Pick your language' %}" id="languageToggler">
                    <img src="{% static 'images/fr.svg' %}" alt="Xerixy languages" />
                    <img class="arrow" src="{% static 'images/angle-right.svg' %}" alt="arrow" />
                </button>
                {% elif LANGUAGE_CODE == 'en'  %}
                <button title="{% trans 'Pick your language' %}" id="languageToggler">
                    <img src="{% static 'images/en.svg' %}" alt="Xerixy languages" />
                    <img class="arrow" src="{% static 'images/angle-right.svg' %}" alt="arrow" />
                </button>
                {% endif %}
            </div>
            <div class="otherView" id="hiddenLanguages">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    {% if LANGUAGE_CODE == 'fr' %}
                    <input type="hidden" name="language" value="en">
                    <button title="English" type="submit"><img src="{% static 'images/en.svg' %}"
                            alt="Xerixy languages" /></button>
                    {% elif LANGUAGE_CODE == 'en'  %}
                    <input type="hidden" name="language" value="fr">
                    <button title="Français" type="submit"><img src="{% static 'images/fr.svg' %}"
                            alt="Xerixy languages" /></button>
                    {% endif %}
                </form>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
    <div id="mask" class="dn"></div>
    <div class="cookies">
        <div class="popup" id="cookieTalk"></div>
        <div class="box">
            <a href="#" id="cookieManBtn"><img src="{% static 'images/cookie.svg' %}" class="cookieStatus"
                    id="cookieMan" alt="cookies - xerixy"></a>
            <svg class="cookieStatus dn" id="cookieChecked" version="1.1" id="Layer_1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
                <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10"
                    d="M81.7,17.8C73.5,9.3,62,4,49.2,4
	                C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3" />
            </svg>
            <svg>
                <circle cx="50" cy="50" r="50"></circle>
                <circle id="cookieProgress" cx="50" cy="50" r="50"></circle>
            </svg>
        </div>
    </div>
    <div class="cookieOptions dn">
        <button id="closeCookies">
            &times;
        </button>
        <h4>{% trans 'Cookie Policy for Xerixy' %}</h4>
        <p>{% trans 'This is the Cookie Policy for Xerixy, for more informations' %}
            <a href="{% url 'cookies' %}">{% trans 'read more' %}</a>.</p>
        <p>{% trans 'Close this tab and scroll down to accept.' %}</p>
    </div>
    <footer>
        <div class="freeQuote" id="freeQuote">
            <h3>{% trans 'CURIOUS? Get a free quote now.' %}</h3>
            <a href="{% url 'contact' %}">{% trans 'Get a quote' %}</a>
        </div>

        <div class="footerContent">
            <div class="navigation">
                <h2>{% trans "Navigation" %}</h2>
                <ul class="navLinksUl">
                    <li class="navLinksItem"><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
                    {% if services %}
                    <li class="navLinksItem"><a href="{% url 'services' %}">{% trans 'Our offers' %}</a></li>
                    {% endif %}
                    {% for page in pages %}
                    <li class="navLinksItem"><a
                            href="{% url 'page' page.page_url %}">{% blocktrans with page.page_title|template_trans as page_title %}{{page_title}}{% endblocktrans %}</a>
                    </li>
                    {% endfor %}
                    {% if news %}
                    <li class="navLinksItem"><a href="{% url 'news' %}">{% trans 'Blog' %}</a></li>
                    {% endif %}
                    <li class="navLinksItem"><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                </ul>
            </div>
            <div class="seoLinks">
                <h2>{% trans 'Frequent searches' %}</h2>
                <ul id="seoL">
                    {% for link in seo %}
                    <li class="navLinksItem"><a
                            href="{% url 'seo' link.url %}">{% blocktrans with link.title|template_trans as link_title %}{{link_title}}{% endblocktrans %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="footerLogo">
            <a href="/" class="logo">
                <img src="{% static 'logo/logo.png' %}" alt="{{user.nom_sur_site}}" title="{{user.nom_sur_site}}" />
            </a>

        </div>
    </footer>
    {% compress js %}
    <script>
        let accepted = false;
        const get_cookie = (name) => {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(";").shift();
        };

        const setCookie = (name, value, days) => {
            let expires = "";
            if (days) {
                let date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
            console.log("test");
        }
        let cookieTalk = [
            `<span class="title">{% trans 'Hello there, I am Cookie-Man !' %}</span>`,
            `<span>{% trans "By scrolling you are accepting Xerixy's cookies" %}`,
            `({% trans 'My friends and I' %})`,
            `{% trans "We will not betray your privacy, it's just to ensure you better user experience, I promise cookie word" %} ✋.`,
            `{% trans "Click me to read more.." %} </span>`
        ];
        $(document).ready(function () {
            if (!get_cookie('cookie_accepted')) {
                $('.cookies').css('left', '50px');
                const talking = new TypeIt("#cookieTalk", {
                    strings: cookieTalk,
                    speed: 30,
                    waitUntilVisible: true
                }).go();
                let checked = new Audio(`{% static 'audio/checked.mp3' %}`);

                $(window).bind("scroll", function () {
                    let progress = 440 - (440 * $(document).scrollTop()) / 1000;
                    let progressCircle = $("#cookieProgress");
                    if (!accepted) {
                        progressCircle.css("stroke-dashoffset", progress);
                    }
                    if (progress <= 125) {
                        if (!accepted) {
                            checked.volume = 0.05;
                            checked.play();
                            $("#cookieProgress").remove();
                            $("#cookieMan").toggleClass('dn');
                            $("#cookieChecked").toggleClass('dn');
                            $("#cookieTalk").text("")
                            setTimeout(() => {
                                talking.freeze();
                            }, 300);
                            new TypeIt("#cookieTalk", {
                                strings: `<span class="title">{% trans 'Thank you, enjoy!' %}</span>`,
                                speed: 30,
                                waitUntilVisible: true
                            }).go();
                            setTimeout(() => {
                                $(".cookies").css("left", "-3000px");
                            }, 2000);
                            accepted = true;
                            setCookie('cookie_accepted', accepted, 365 * 10)
                        }
                    }
                })
            }


        })
    </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/typeit.min.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    {% endcompress %}
    {% block script %}
    {% endblock script %}

</body>

</html>