{% extends "base.html" %}
{% load static %}
{% load fill_vars %}
{% block idBody %}{{self.id}}{% endblock idBody %}
{% block metaT %}{{link.meta_title}} - {{user.nom_sur_site}}{% endblock metaT %}
{% block metaD %}{{link.meta_description}}{% endblock metaD %}
{% block title %}
<link rel="stylesheet" href="{% static 'css/seo.css' %}">
<title>{{link.title|capfirst}} - {{user.nom_sur_site}}</title>

{% endblock title %}

{% block content %}
<div class="contentContainer" id="content-{{link.id}}">
    <h1 data-text="{{link.title}}">{{link.title}}</h1>
    <p>
        {% with link.content|vars as content %}
        {{content | safe}}
        {% endwith %}
    </p>
</div>

{% include 'contact-footer.html' %}
{% endblock %}