body,
html {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

* {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1D2228;
}

@media screen and (max-width: 800px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

nav .logoContainer {
  padding: 10px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  height: 70px;
}

nav .logoContainer .logo {
  text-align: center;
}

nav .logoContainer .logo img {
  width: auto;
  height: 100%;
  max-width: 50px;
}

nav button {
  cursor: pointer;
  display: none;
  background: none;
  border: none;
}

@media screen and (max-width: 800px) {
  nav button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

nav button svg {
  width: 30px;
}

nav button svg * {
  fill: #fff;
}

nav .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 100%;
  position: relative;
  z-index: 10;
}

nav .navLinks .scrollLogo {
  width: 0%;
  overflow: hidden;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

nav .navLinks .scrollLogo img {
  width: 85px;
  height: 85px;
  -o-object-fit: contain;
     object-fit: contain;
}

nav .navLinks #closeNav {
  position: absolute;
  display: none;
  top: 10%;
  right: 0;
  font-size: 50px;
  color: #fff;
  background-color: transparent;
  border: none;
  width: 80px;
  height: 80px;
}

@media screen and (min-width: 800px) {
  nav .navLinks #closeNav {
    display: none !important;
  }
}

@media screen and (min-width: 800px) {
  nav .navLinks {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 0 !important;
    width: 100% !important;
    position: relative !important;
    left: auto !important;
    right: auto !important;
  }
}

@media screen and (max-width: 800px) {
  nav .navLinks {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 100%;
    background-color: #1D2228;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
}

nav .navLinks .navLinksUl {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media screen and (max-width: 800px) {
  nav .navLinks .navLinksUl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

nav .navLinks .navLinksUl .navLinksItem {
  text-align: center;
  margin: auto 25px;
}

@media screen and (max-width: 800px) {
  nav .navLinks .navLinksUl .navLinksItem {
    margin: 10px auto;
  }
}

nav .navLinks .navLinksUl .navLinksItem a {
  font-family: 'Montserrat';
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: light;
}

nav .language {
  position: absolute;
  right: 50px;
  top: 67%;
  z-index: 11;
  height: 30px;
  width: 75px;
  -webkit-transition: top .4s ease-in-out;
  transition: top .4s ease-in-out;
}

@media screen and (max-width: 800px) {
  nav .language {
    left: 20px;
    right: auto;
    top: 40%;
  }
}

nav .language .overView {
  height: 30px;
  width: 75px;
}

nav .language .overView button {
  background-color: #fff;
  border: 1px solid #1D2228;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .language .overView button img {
  width: 25px;
}

nav .language .overView button img.arrow {
  width: 10px;
}

nav .language #hiddenLanguages.otherView {
  overflow: hidden;
  width: 40px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0;
  -webkit-transition: height .4s ease-in-out;
  transition: height .4s ease-in-out;
  padding-left: 9px;
}

nav .language #hiddenLanguages.otherView button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

nav .language #hiddenLanguages.otherView button img {
  width: 25px;
  height: auto;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 99;
}

footer {
  background-color: #1D2228;
  position: relative;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .freeQuote {
  width: 100%;
  max-width: 700px;
  height: 80px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -40px;
  position: absolute;
  z-index: 2;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 700px) {
  footer .freeQuote {
    position: relative;
    top: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .freeQuote h3,
  footer .freeQuote a {
    font-size: 14px;
  }
}

footer .freeQuote h3 {
  margin: auto;
}

footer .freeQuote a {
  background-color: transparent;
  border: 3px solid #1D2228;
  color: #1D2228;
  text-decoration: none;
  padding: 15px 25px;
  margin-right: 5px;
  margin: auto;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

footer .freeQuote a:hover {
  background-color: #1D2228;
  color: #fff;
}

@media screen and (max-width: 750px) {
  footer .freeQuote a {
    padding: 5px 15px;
  }
}

footer .footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 50px;
}

@media screen and (max-width: 700px) {
  footer .footerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footerContent .navigation {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

footer .footerContent .navigation h2 {
  color: #fff;
  margin: 30px 0;
  text-decoration: underline;
}

footer .footerContent .navigation ul {
  list-style-type: none;
  display: inline-block;
}

footer .footerContent .navigation ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerContent .navigation ul li:hover::before {
  width: 20px;
}

footer .footerContent .navigation ul li:before {
  content: "";
  width: 0px;
  height: 2px;
  background-color: #fff;
  display: inline-block;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

footer .footerContent .navigation ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

footer .footerContent .seoLinks {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

footer .footerContent .seoLinks h2 {
  color: #fff;
  margin: 30px 0;
  text-decoration: underline;
}

footer .footerContent .seoLinks ul {
  list-style-type: none;
  max-width: 600px;
  max-height: 200px;
  overflow-x: hidden;
  padding-right: 20px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

footer .footerContent .seoLinks ul::-webkit-scrollbar {
  width: 5px;
}

footer .footerContent .seoLinks ul::-webkit-scrollbar-track {
  background: #f1f1f1;
}

footer .footerContent .seoLinks ul::-webkit-scrollbar-thumb {
  background: #888;
}

footer .footerContent .seoLinks ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}

footer .footerContent .seoLinks ul li {
  display: inline;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerContent .seoLinks ul li:hover a {
  text-decoration: underline;
}

footer .footerContent .seoLinks ul li:after {
  content: " - ";
  color: #fff;
  margin: 0 5px;
}

footer .footerContent .seoLinks ul li:last-child:after {
  display: none;
}

footer .footerContent .seoLinks ul li a {
  color: #fff;
  text-decoration: none;
}

footer .footerLogo {
  margin: auto;
}

footer .footerLogo a img {
  width: 60px;
}

.cookies {
  position: fixed;
  z-index: 9;
  left: -3000px;
  bottom: 50px;
  -webkit-transition: left 1s ease-in-out;
  transition: left 1s ease-in-out;
}

.cookies .cookieStatus {
  width: 90px;
  height: auto;
  position: absolute;
  z-index: 2;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 59%;
}

.cookies .cookieStatus .checkmark {
  stroke: #03a9f4;
  stroke-dashoffset: 745.74853515625;
  stroke-dasharray: 745.74853515625;
  -webkit-animation: dash 2s ease-out forwards;
          animation: dash 2s ease-out forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.cookies .popup {
  max-width: 400px;
  background-color: #f3f3f3;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  bottom: -50px;
  min-width: 285px;
}

.cookies .popup span {
  line-height: 1.5;
}

.cookies .popup span.title {
  margin-bottom: 1em;
  font-family: 'Montserrat-Bold';
  font-weight: 30px;
}

.cookies .popup::after {
  content: "";
  background-color: inherit;
  display: block;
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-top: 20px solid #f3f3f3;
  border-bottom: 30px solid transparent;
  position: absolute;
  bottom: 85px;
  background: none;
  left: 36px;
}

.cookies .box {
  position: relative;
  width: 110px;
  height: 110px;
  overflow: hidden;
  padding-top: 25px;
}

.cookies svg {
  position: relative;
  width: 110px;
  height: 110px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.cookies svg circle {
  position: relative;
  width: 150px;
  height: 150px;
  fill: #1D2228;
  stroke-width: 10;
  stroke: #000;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.cookies svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

.cookies svg circle:nth-child(2) {
  stroke-dashoffset: 440;
  -webkit-transition: stroke-dashoffset .1s ease-in-out;
  transition: stroke-dashoffset .1s ease-in-out;
  stroke: #03a9f4;
}

.dn {
  display: none !important;
}

body.dn {
  display: block !important;
  overflow: hidden;
}

.cookieOptions {
  width: 70vw;
  z-index: 12;
  background-color: #03a9f4;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 4% 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.cookieOptions a,
.cookieOptions a:visited {
  color: #fff;
  font-weight: bold;
}

.cookieOptions h4 {
  margin-bottom: 40px;
  font-size: 40px;
  font-family: 'Montserrat-Bold';
}

.cookieOptions #closeCookies {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  border: 1px solid #fff;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

#mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: #000000ab;
}
/*# sourceMappingURL=base.css.map */